<div class="sidebar shadow" [ngClass]="{ close: !sidebarOpen }">
  <div class="logo-details">
    <i
      (click)="sidebarOpen = !sidebarOpen" 
      [ngClass]="{ active: sidebarOpen }"
      id="navbar-toggle"
      ><span></span></i>
    <span class="logo_name">SRV CRM</span>
  </div>
  <ul class="nav-links">
    <li>
      <a >
        <i><i class="fas fa-th-large"></i></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Dashboard</a></li>
      </ul>
    </li>
    <li [ngClass]="{ showMenu: dropdownArr[0] }">
      <div class="icon-link" (click)="openDropdown(0)">
        <a>
          <i><i class="fas fa-users-cog"></i></i>
          <span class="link_name">User Setting</span>
        </a>
        <i class="arrow"><i class="fas fa-chevron-right"></i></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" >User Setting</a></li>
        <li><a routerLink="users_se">Sales Executives</a></li>
        <li><a routerLink="users_dl">Dealer</a></li>
        <li><a routerLink="users_dt">Distributor</a></li>
        <li><a routerLink="users_ld">Leads</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-people-arrows"></i></i>
        <span class="link_name">User Mapping</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >User Mapping</a></li>
      </ul>
    </li>
    <li [ngClass]="{ showMenu: dropdownArr[1] }">
      <div class="icon-link" (click)="openDropdown(1)">
        <a>
          <i><i class="fas fa-cog"></i></i>
          <span class="link_name">Product Setting</span>
        </a>
        <i class="arrow"><i class="fas fa-chevron-right"></i></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" >Product Setting</a></li>
        <li><a >Category</a></li>
        <li><a >Add Products</a></li>
        <li><a >Products</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-money-check"></i></i>
        <span class="link_name">Upload Payments</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Upload Payments</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-shopping-bag"></i></i>
        <span class="link_name">Upload Products</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Upload Products</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-check-double"></i></i>
        <span class="link_name">Sale Target</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Sale Target</a></li>
      </ul>
    </li>
    <li [ngClass]="{ showMenu: dropdownArr[2] }">
      <div class="icon-link" (click)="openDropdown(2)">
        <a>
          <i><i class="fas fa-puzzle-piece"></i></i>
          <span class="link_name">Spare Parts</span>
        </a>
        <i class="arrow"><i class="fas fa-chevron-right"></i></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" >Spare Parts</a></li>
        <li><a >Add Spare Part</a></li>
        <li><a >Remove Spare Part</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-percentage"></i></i>
        <span class="link_name">Discount and Ads</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Discount and Ads</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fab fa-staylinked"></i></i>
        <span class="link_name">Payment Status</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Payment Status</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-info-circle"></i></i>
        <span class="link_name">Enquiry</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Enquiry</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-cubes"></i></i>
        <span class="link_name">Price Management</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Price Management</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-boxes"></i></i>
        <span class="link_name">Inventory Management</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Inventory Management</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-server"></i></i>
        <span class="link_name">Order Details</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Order Details</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-comments"></i></i>
        <span class="link_name">Complaints</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >Complaints</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-th-large"></i></i>
        <span class="link_name">MBM Details</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >MBM Details</a></li>
      </ul>
    </li>
    <li>
      <a >
        <i><i class="fas fa-sign-out-alt"></i></i>
        <span class="link_name">LOGOUT</span>
      </a>
      <ul class="sub-menu blank shadow">
        <li><a class="link_name" >LOGOUT</a></li>
      </ul>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="main-content">
    <router-outlet></router-outlet>
  </div>
</section>
