<div class="row">
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count:</b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Total Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Pending Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Approved Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>In-Progress Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Shipped Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Delivered Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p>Sales Executive</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p>Distributor</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p>Dealer</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fab fa-product-hunt"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Product</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-layer-group"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p>Category</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-3 col-md-4 col-12 mb-3">
    <mat-card class="shadow">
      <div class="icon-div shadow">
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p>Total Order Invoice Generated</p>
      </div>
    </mat-card>
  </div>
</div>
