.row {
  margin-top: 10px;
}
.row > div {
  margin: 30px 0 30px;
}
.row > div > mat-card > div {
  align-items: center;
}
.row > div > mat-card {
  position: relative;
  text-align: center;
}
.icon-div {
  background: #ff5722;
  background: linear-gradient(-45deg, #bd1414, #ff5722);
  color: #fff;
  height: 90px;
  width: 90px;
  min-height: 90px;
  min-width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}
.info-card {
  margin: 76px 0 0 !important;
}
.info-card h4 {
  font-size: 24px;
}
.info-card h4 b {
}
.info-card h4 span {
}
.info-card h5 {
  font-size: 24px;
  margin: 20px 0 30px;
}
.info-card h5 b {
  font-weight: 500;
  margin-right: 5px;
}
.info-card h5 span {
}
.info-card p {
  font-size: 16px;
  background: #ff5722;
  background: linear-gradient(-45deg, #bd1414, #ff5722);
  padding: 10px 10px 8px;
  border-radius: 4px;
  color: #fff;
  font-weight: 500;
}
