<div class="row">
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count:</b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Total Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Pending Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Approved Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">In-Progress Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Shipped Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Delivered Order</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p matRipple class="shadow">Sales Executive</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p matRipple class="shadow">Distributor</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-users"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p matRipple class="shadow">Dealer</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fab fa-product-hunt"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Product</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-layer-group"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b></b>
          <span class="op-0">-</span>
        </h5>
        <p matRipple class="shadow">Category</p>
      </div>
    </mat-card>
  </div>
  <div class="col-lg-4 col-md-6 col-12">
    <mat-card class="shadow">
      <div class="icon-div shadow" matRipple >
        <i class="fas fa-luggage-cart"></i>
      </div>
      <div class="info-card">
        <h4>
          <b>Count: </b>
          <span>166</span>
        </h4>
        <h5>
          <b>₹</b>
          <span>1239640.13</span>
        </h5>
        <p matRipple class="shadow">Total Order Invoice Generated</p>
      </div>
    </mat-card>
  </div>
  <div class="col-md-6 col-12 chart-div">
    <mat-card class="shadow">
      <h4 class="chart-title">Total Order vs Total Sales</h4>
      <canvas id="myChart1"></canvas>
    </mat-card>
  </div>
  <div class="col-md-6 col-12 chart-div">
    <mat-card class="shadow">
      <h4 class="chart-title">Total Order vs Total Sales</h4>
      <canvas id="myChart2"></canvas>
    </mat-card>
  </div>
  <div class="col-md-6 col-12 chart-div">
    <mat-card class="shadow">
      <h4 class="chart-title">Total Order vs Total Sales</h4>
      <canvas id="myChart3"></canvas>
    </mat-card>
  </div>
  <div class="col-md-6 col-12 chart-div">
    <mat-card class="shadow">
      <h4 class="chart-title">Total Order vs Total Sales</h4>
      <canvas id="myChart4"></canvas>
    </mat-card>
  </div>
</div>
