.title {
  font-weight: 500;
  font-size: 16px;
}
.title span {
  color: #da311a;
  font-weight: 600;
}
table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

td,
th {
  width: 25%;
}
